<div class="basic-container">

  <h3>
    <span *ngIf="product">{{product.name}}</span>
  </h3>

  <form *ngIf="product" class="wide-form" [formGroup]="form" (ngSubmit)="onSubmit()">

    <input type="hidden" formControlName="shopId">

    <section class="form-section">
      <mat-form-field class="form-field" [floatLabel]="form.value.floatLabel">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" formControlName="name">
      </mat-form-field>
    </section>

    <section class="form-section">
      <mat-form-field class="form-field" [floatLabel]="form.value.floatLabel">
        <mat-label>Precio</mat-label>
        <input matInput type="number" placeholder="Precio" formControlName="price">
      </mat-form-field>
    </section>

    <section class="form-section">
      <mat-form-field class="form-field" [floatLabel]="form.value.floatLabel">
        <mat-label>Descripción</mat-label>
        <textarea matInput placeholder="Descripción" formControlName="description"></textarea>
      </mat-form-field>
    </section>

    <section class="form-section">
      <mat-form-field class="form-field" [floatLabel]="form.value.floatLabel">
        <mat-label>Imagen</mat-label>
        <input matInput placeholder="Imagen" formControlName="image">
      </mat-form-field>
    </section>


    <section class="form-section">
      <button mat-raised-button type="submit" class="submit-button" color="primary">Enviar</button>
    </section>

  </form>


  <div class="wide-form" *ngIf="checked">
    <h5>Disponible:</h5>
    <mat-checkbox *ngFor="let day of days" [(ngModel)]="checked[day.code]">{{day.name}}</mat-checkbox>
  </div>



</div>