<!-- <mat-list>
  <mat-list-item *ngFor="let product of products">
    <div>
      <h4>{{product.name}}</h4>
      <button mat-raised-button (click)="edit(product)">EDITA</button>
      <button mat-raised-button (click)="addAvailable(product)">HOY</button>
    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list> -->

<div class="button-container">
  <button mat-raised-button color="primary" class="full-width" (click)="new()">NUEVO</button>
  <!--<button mat-raised-button color="primary" class="full-width" (click)="hoy()">HOY</button>-->
</div>

<mat-card *ngFor="let product of products">

  <mat-card-content class="full">
    <span>
      <h4>{{product.name}}</h4>
      <!--<span class="small" *ngFor="let day of product.days">{{day.name}} </span>-->
    </span>
    <button mat-raised-button (click)="edit(product)"><i class="material-icons">mode_edit</i></button>
    <button mat-raised-button color="accent" (click)="delete(product)"><i class="material-icons">delete</i></button>
    <!--<button mat-raised-button color="warn" (click)="addAvailable(product)">HOY</button>-->
  </mat-card-content>

</mat-card>
