.header {
  font-weight: bold;
  font-size: 1.5em;
}

.full-width {
  width: 100%;
  margin-bottom: 5px;
}

.small {
  font-size: 80%;
}

.actions {
  justify-self: right;
  align-self: stretch;
}

.full {
  display: grid;
  grid-template-columns: auto repeat(3, 90px);
  grid-gap: 5px;
  width: 100%;
}

.button-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 5px;
  width: 100%;
}

mat-card-footer {
  margin: 5px;
}

mat-chip {
  font-size: 70%;
}

mat-card {
  margin: 5px;
}
