<div class="container">

  <h1 *ngIf="status==='process'">Pedidos pendientes</h1>
  <h1 *ngIf="status==='ready'">Preparados para recoger</h1>
  <h1 *ngIf="status==='closed'">Pedidos recogidos</h1>

  <div class="button-container">
    <button class="btn-full" mat-raised-button (click)="order()" color="primary">NUEVO</button>
    <button class="btn-full" mat-raised-button (click)="refresh()">REFRESCA</button>
  </div>

  <mat-form-field class="search-field">
    <input matInput type="text" placeholder="Buscar" [(ngModel)]="filtro" />
    <button mat-button *ngIf="filtro" matSuffix mat-icon-button aria-label="Clear" (click)="filtro=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div class="orders-container">
    <app-order *ngFor="let order of orders | filter : filtro" [order]="order" [status]="status" (ready)="orderReady($event)"
      (closed)="orderClosed($event)" (done)="done($event)"></app-order>

  </div>
</div>