<div>

  <h1 *ngIf="status==='process'">Pedidos pendientes</h1>
  <h1 *ngIf="status==='ready'">Preparados para recoger</h1>
  <h1 *ngIf="status==='closed'">Pedidos recogidos</h1>

  <div class="container">
    <div>
      <app-order-block [orders]="orders" [status]="status" (done)="done($event)" (orderReady)="orderReady($event)" (orderClosed)="orderClosed($event)" (refresh)="refresh()"></app-order-block>
    </div>

    <div *ngIf="status==='process'">
      <app-order-block [orders]="orders" [status]="status" (done)="done($event)" (orderReady)="orderReady($event)" (orderClosed)="orderClosed($event)" (refresh)="refresh()"></app-order-block>
    </div>

    <div *ngIf="status==='process'">
      <app-order-block [orders]="orders" [status]="status" (done)="done($event)" (orderReady)="orderReady($event)" (orderClosed)="orderClosed($event)" (refresh)="refresh()"></app-order-block>
    </div>

  </div>

</div>
