<div class="basic-container">

  <h3>
    Cliente: <span *ngIf="user">{{user.name}}</span>
  </h3>

  <form *ngIf="user" class="wide-form" [formGroup]="form" (ngSubmit)="onSubmit()">

    <input type="hidden" formControlName="shopId">

    <section class="form-section">
      <mat-form-field class="form-field" [floatLabel]="form.value.floatLabel">
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Nombre de usuario" formControlName="username">
      </mat-form-field>
    </section>

    <section class="form-section">
      <mat-form-field class="form-field" [floatLabel]="form.value.floatLabel">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" formControlName="first_name">
      </mat-form-field>
    </section>

    <section class="form-section">
      <mat-form-field class="form-field" [floatLabel]="form.value.floatLabel">
        <mat-label>Apellidos</mat-label>
        <input matInput placeholder="Nombre" formControlName="last_name">
      </mat-form-field>
    </section>

    <section class="form-section">
      <mat-form-field class="form-field" [floatLabel]="form.value.floatLabel">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>
    </section>

    <section class="form-section">
      <mat-form-field class="form-field" [floatLabel]="form.value.floatLabel">
        <mat-label>Móvil</mat-label>
        <input matInput placeholder="Móvil" formControlName="mobile">
      </mat-form-field>
    </section>


    <section class="form-section">
      <button mat-raised-button type="submit" class="submit-button" color="primary">Enviar</button>
    </section>

  </form>

</div>
