.header {
  font-weight: bold;
  font-size: 1.5em;
}

.actions {
  justify-self: right;
  align-self: stretch;
}

.full {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  justify-items: left;
  align-items: stretch;
}

mat-card-footer {
  margin: 5px;
}

mat-chip {
  font-size: 70%;
}

mat-card {
  margin: 5px;
}

.search-field {
  width: 100%;
}
