.container {
  display: grid;
  /* grid-template-columns: 3fr 1fr;
  grid-gap: 10px; */
  padding: 15px;
}

.header {
  font-weight: bold;
  font-size: 1.5em;
}

.item {
  padding-top: 8px;
}

.actions {
  justify-self: right;
  align-self: stretch;
}

.full {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  width: 100%;
  justify-items: left;
  align-items: stretch;
}

.action-buttons {
  justify-self: end;
}

mat-card-footer {
  margin: 5px;
}

mat-chip {
  font-size: 70%;
}

mat-card {
  margin: 5px;
}

.search-field {
  width: 100%;
}
