.dash {
  padding: 0px 10px;
}

.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
}

.button-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 2px;
  margin-bottom: 10px;
}
