<div class="producte">
  <button mat-raised-button color="primary" class="full-width" (click)="hoy()">AÑADE LOS PRODUCTOS DEL DIA DE HOY
  </button>

  <mat-card class="product-card" *ngFor="let product of products" (click)="add(product)">

    <mat-card-content class="full">
      <h4>{{product.name}}
        <i class="material-icons" style="float: right;">add</i>
      </h4>
      <!-- <span class="small" *ngFor="let day of product.days">
        <span *ngIf="day.stock > 0">{{day.name}}</span>
      </span> -->
      <!--<button mat-raised-button (click)="edit(product)"><i class="material-icons">mode_edit</i></button>-->
      <!--<button mat-raised-button color="warn" (click)="addAvailable(product)">HOY</button>-->
    </mat-card-content>

  </mat-card>
</div>