<div *ngIf="user">
  <h1>Pedido para {{user.first_name}} {{user.last_name}}</h1>
</div>
<div class="container">
  <div>
    <app-available-list [date]="day"></app-available-list>
  </div>
  <div class="today">
    <app-cart></app-cart>
  </div>
  <div class="basic-container">
    <!-- <h3>Pedidos de hoy</h3> -->
    <div *ngIf="orders && orders.length === 0">Hoy no tiene aún pedidos.</div>
    <app-order *ngFor="let order of orders" [order]="order" [status]="status"></app-order>
  </div>
</div>
